body {
    margin: 0;
    padding: 0;
    background: #e1e6eb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 1.5;
}
a {
    color: #555;
}
ul, 
ol,
dt,
dd {
    margin: 1em 0;
    padding: 0;
}
dt {
    font-weight: bold;
}
h1,
h2 {
    font-family: "Montserrat", sans-serif;
}
h2 {
    color: #00b2d2;
}
header {
    height: 300px;
    overflow: hidden;
    background: #000;
    position: relative;
}
header div {
    position: absolute;
    top: 80px;
    left: 80px;
    right: 80px;
    color: #FFF;
    z-index: 1;
}
    header h1 {
        margin: 0;
        text-transform: uppercase;
        text-shadow:0px 0px 7px #FFF;
    }
    header h2 {
        margin: .5em 0 0 0;
        font-size: 1.2em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        color: #FFF;
    }
header img {
    display: block;
    margin: 60px auto 0 auto;
    -webkit-animation: moon 600s infinite linear;
    -moz-animation: moon 600s infinite linear;
}

nav {
    display: block;
    height: 80px;
    padding-left: 80px;
    line-height: 80px;
    margin-bottom: -80px;
    position: relative;
    top: -80px;
    background: rgba(0,0,0,.3);
    border-top: 1px solid rgba(0,0,0,.1);
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    margin-left: -1em;
    z-index: 1;
}
    .bt {
        background: #00dbfc;

        background: #00f8fe;
        background: -moz-linear-gradient(top,  #00f8fe 0%, #00dbfc 6%, #00d4fb 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00f8fe), color-stop(6%,#00dbfc), color-stop(100%,#00d4fb));
        background: -webkit-linear-gradient(top,  #00f8fe 0%,#00dbfc 6%,#00d4fb 100%);
        background: -o-linear-gradient(top,  #00f8fe 0%,#00dbfc 6%,#00d4fb 100%);
        background: -ms-linear-gradient(top,  #00f8fe 0%,#00dbfc 6%,#00d4fb 100%);
        background: linear-gradient(top,  #00f8fe 0%,#00dbfc 6%,#00d4fb 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8fe', endColorstr='#00d4fb',GradientType=0 );


        border-radius: 4px;
        color: #001;
        display: inline-block;
        line-height: 1.5;
        padding: 4px 8px;
        text-decoration: none;

        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
    .bt:hover {
        background: #00f8fe;
    }
    nav a {
        color: #FFF;
        margin: 0 1em;
    }
.content {
    color: #555;
    overflow: hidden;
    padding: 20px 80px;
}
.content h2 {
    text-transform: uppercase;
    text-shadow: 0 1px 0 #FFF;
    font-size: 1.2em;
}
section {
    width: 30%;
    margin-right: 5%;
    float: left;
}
section:last-child {
    margin-right: 0;
}
footer {
    background: #CCCCD5;
    padding: 20px 80px;
}
@-webkit-keyframes moon {
    from {
        -webkit-transform: rotate(0); 
    }
    to {
        -webkit-transform: rotate(365deg); 
    }
}
@-moz-keyframes moon {
    from {
        -moz-transform: rotate(0); 
    }
    to {
        -moz-transform: rotate(365deg); 
    }
}