@import url(http://fonts.googleapis.com/css?family=Lato:700|Open+Sans:400italic,700italic,400,700);

html{
    font-family: 'Open Sans', sans-serif;
    color: #111;
    background: #F3F3F3;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

a{
    color: #39C;
}

a:visited{
    color: #444;
}

a:hover{
    color: #000;
}

a img{
    border: none;
}

pre, code{
    max-height: 100%;
    width: 100%;
    font-size: 1.2em;
    overflow: auto;
}

h1, h2{
    /*font-weight: normal;*/
    font-family: 'Lato', sans-serif;
}

#page {
    max-width: 60em;
    margin: 0 auto;
}

/* Header
*******************************************************************************/
#top {
    padding: 1em 30px;
}
    h1 a,
    h1 a:visited {
        color: #665;
        text-decoration: none;
    }
    h1 a:hover {
        color: #444;
    }

/* Content
*******************************************************************************/
#content {
    width: 40em;
    float: left;
}

/* Sidebar
*******************************************************************************/
#sidebar {
    width: 20em;
    float: left;
}
    #sidebar a {
        text-decoration: none;
    }
    #sidebar a:hover {
        text-decoration: underline;
    }
    #sidebar div {
        font-size: 0.9em;
        padding: 1em 30px;
    }
    #sidebar h2 {
        margin-top: 0;
        color: #665;
    }
    #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 1em 0;
    }
    
/* Article
*******************************************************************************/
.article{
    border-radius: 4px;
    margin-bottom: 2em;
    padding: 30px;
    background: #FFF;
}
    .article-title {
        margin-top: 0;
        line-height: 1.5;
    }
    .article-title,
    .article-title a{
        color: #111;
        text-decoration: none;
    }
    .article-title a:hover {
        color: #39C;
    }

    .article-info{
        font-size: 0.8em;
        margin: 0 0 1em 0;
        color: #999;
    }
    
    .article-content {
        
    }

    .article img{
        max-width: 440px;
    }

    .article .collapsed{
        display: none;
    }

/* Footer
*******************************************************************************/
#footer {
    clear: both;
    padding: 0 30px;
}