html{
	font-family: Arial, sans-serif;
	color: #333;
	background: #FFF;
	font-size: 62.5%;
}

body{
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	line-height: 1.5em;
}

a{
	color: #669;
}

a:visited{
	color: #444;
}

a:hover{
	color: #000;
}

a img{
	border: none;
}

pre, code{
	font-size: 1.2em;
}
/* Top
*******************************************************************************/
#page{
	margin: 0;
	background: #FFF;
}
/* Top
*******************************************************************************/
#top{
	padding: 2%;
	margin: 0;
	background: #CCC;
	color: #FFF;
	
	border-top: 5px solid #999;
}

	#top h1{
		margin: 0;
		letter-spacing: -1px;
	}
	
/* Top
*******************************************************************************/
#content{
	width: 66%;
	padding: 0 2%;
	margin: 0;
	float: left;
}

.post{
	margin-bottom: 3em;
}

.post-title, .post-title a{
	color: #666;
	text-decoration: none;
}

.post-title{
	padding-bottom: 0.5em;
	border-bottom: 1px dotted #CCC;
}

.post-info{
	color: #666;
	margin-top: -1em;
}

.post-info a{
	color: #666;
	text-decoration : none;
}

/* Top
*******************************************************************************/
#sidebar{
	width: 26%;
	padding: 0 2%;
	margin: 0;
	float: right;
}

	#sidebar div{
		font-size: 0.8em;
	}

	#sidebar h2{
		color: #999;
	}

	#sidebar a{
		text-decoration: none;
		border-bottom: 1px solid #DDD;
	}

	#sidebar ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
/* Footer
*******************************************************************************/
#footer{
	padding: 1ex 1em;
	clear: both;
	border-top: 1px dotted #CCC;
	color: #999;
}